# For: https://github.com/webash/pyenergenie-mqtt
# Install:
# sudo ln -s /shared/pyenergenie-mqtt/pyenergenie-mqtt.service /lib/systemd/system/pyenergenie-mqtt.service
# sudo systemctl enable pyenergenie-mqtt
# sudo systemctl start pyenergenie-mqtt

[Unit] 
Description=Monitor energenie devices and share with an mqtt feed
After=autossh-agn.target 


[Service]
Type=simple
ExecStart=/usr/bin/python /shared/pyenergenie-mqtt/pyenergenie-mqtt.py
Restart=always

[Install] 
WantedBy=multi-user.target